{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Salary</td>
        <td>View</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Name }} </td>
        <td>{{ .Salary }} </td> 
        <td><a href="/show?id={{ .Id }}">View</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}